.btn {
  display: inline-block;
  margin: 0;
  padding: 16px 40px;
  text-align: center;
  cursor: pointer;
}

.btn-main {
  color: $white;
  background-color: $accent;
  border-radius: 4px;
  transition: box-shadow 0.3s ease, background 0.3s ease;

  &:hover {
    background: #5c9d54;
  }
}

.btn-underline {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
    //text-decoration: none;
  }
}

@media (max-width: 1200px) {
  .btn {
    padding: 12px 32px;
  }
}
