.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: start;
  grid-template-rows: 1fr;
}

@media (max-width: 1440px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .products {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .products {
    margin-top: 32px;
  }

  .product {
    margin: 0 auto;
  }
}
