<aside class="sidebar">
  <div class="">
    <div class="aside-dropdown">
      <div class="aside-dropdown__name">Эмират</div>
      <ul>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Все</div>
          </label>
        </li>

        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Дубай</div>
          </label>
        </li>


        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Фуйджера</div>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Шарджа</div>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Аджман</div>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Рас Аль Хайма</div>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Ум Аль Кувейн</div>
          </label>
        </li>
      </ul>
    </div>

    <div class="aside-dropdown">
      <div class="aside-dropdown__name">Количество людей</div>
      <ul>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">До 4-х людей</div>
          </label>
        </li>

        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Один</div>
          </label>
        </li>

        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">Два</div>
          </label>
        </li>
      </ul>
    </div>

    <div class="aside-dropdown">
      <div class="aside-dropdown__name">Вид</div>
      <ul>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">На земле</div>
          </label>
        </li>

        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">На воде</div>
          </label>
        </li>

        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">В воздухе</div>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" name="1" />
            <div class="checkbox__text">В городе</div>
          </label>
        </li>
      </ul>
    </div>
  </div>
</aside>
