

<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__top">
        <div class="footer__logo">
          <a href="/"><img src="./images/logo.svg" alt="Logo" /></a>
        </div>

        <nav class="footer__nav">
          <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Экскурсии</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О нас</a></li>
          </ul>
        </nav>

        <div class="footer__socials">
          <div class="soc">
            <img src="./images/ig-w.svg" alt="" />
          </div>

          <div class="soc">
            <img src="./images/wa-w.svg" alt="" />
          </div>

          <div class="soc">
            <img src="./images/fb-w.svg" alt="" />
          </div>

          <div class="soc">
            <img src="./images/phone-w.svg" alt="" />
          </div>

          <div class="soc">
            <img src="./images/email-w.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <p>
          Приятно, граждане, наблюдать, как сторонники тоталитаризма в науке,
          инициированные исключительно синтетически, объявлены нарушающими
          общечеловеческие нормы этики и морали.
        </p>

        <a href="tel:+79999999999">+7 999 999 99 99</a>
      </div>
    </div>
  </div>

  <div class="footer__policy">
    <div class="container">
      <div class="footer__policy_wrap">
        <a href="#">Политика конфиденциальности</a>
        <a href="">Условия использования</a>
        <p>tngroup@2021</p>
      </div>
    </div>
  </div>
</footer>
