<div class="modal micromodal-slide" id="modal-review" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <div class="modal__close" data-micromodal-close>
        <img src="./images/close.svg" alt="" />
      </div>

      <h2 class="modal__title" id="modal-1-title">Оставить отзыв</h2>

      <main class="modal__content" id="modal-1-content">
        <p>Расскажите что вам понравилось, а что нам стоит улучшить.</p>

        <form action="#">
          <input type="text" placeholder="Имя" />
          <input type="tel" name="" id="" placeholder="+7 (___) ___ __ __" />
          <textarea name="" id="" cols="30" rows="4"></textarea>
          <input type="file" placeholder="df">

          <div class="modal__review">
            <p>Ваша оценка</p>
            <div class="modal__stars">

            </div>
          </div>
          <button class="btn btn-main" type="submit">Отправить</button>
        </form>
      </main>
    </div>
  </div>
</div>
